.drawing-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .game-info {
    width: 100%;
  }
  .user-input {
    font-size: 1.5rem;
    padding: 1rem;
    input {
      width: 100%;
    }
  }
}
