<form>
    <div mat-dialog-title>Add new category</div>
    <mat-dialog-content class="mat-typography">
        <input class="form-control d-inline-block p-3 mt-2 mb-4" id="name" placeholder="Name" required>
        <div class="form-group">
            <label for="comment">Word list (each phrase in new line):</label>
            <textarea class="form-control" style="font-size: 0.8rem; resize: none;" rows="25" id="comment" required></textarea>
        </div>  
    </mat-dialog-content>
    
    <mat-dialog-actions class="float-right">
        <button type="button" mat-dialog-close class="btn btn-outline-dark m-2">Cancel</button>
        <button type="submit" [mat-dialog-close]="true" class="btn btn-primary">Save</button>
    </mat-dialog-actions>
</form>
