@font-face {
    font-family: Cheri;
    src: local("Cheri"), url('../../../assets/fonts/cheri.ttf') format('truetype');
}

.text-small {
    font-size: 0.7rem;
}

.text-big {
    font-size: 1.5rem;
}