@import 'helpers/variables';

.navbar {
  width: 100%;
  height: 10rem;
  text-align: center;
  justify-content: center;
  z-index: 2;

  img {
    position: absolute;
    width: 20rem;
    height: auto;
  }

  &.plain-navbar {
    background-color: $primary;
    height: 5rem;

    img {
      width: 12rem;
    }
  }

  .wavy-navbar {
    overflow: hidden;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      stroke: none;
      fill: $primary;
    }
  }
}

.back-menu {
  position: absolute;
  left: 1rem;
}
