<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <div class="wavy-navbar"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.84,140.63 C221.50,161.34 211.34,97.20 504.22,124.83 L500.00,0.00 L0.00,0.00 Z"></path></svg></div>
      <img src="../../../../assets/images/logo.svg" alt="logo">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="w-50 d-flex flex-column">
        <form>
          <input class="rounded-input w-100" type="text" name="username" id="username" placeholder="Username">
          <input class="rounded-input w-100" type="password" name="password" id="password" placeholder="Password">
          <button type="submit" class="btn btn-primary w-100">Log in</button>
          <a>Forgot password?</a>
        </form>
        <button class="btn btn-primary btn-fb mt-5"><i class="fab fa-facebook-f"></i>Log in with Facebook</button>
        <button class="btn btn-outline" routerLink="/dashboard">Play as guest</button>
      </div>
    </div>
    <div class="horizontal-line">

    </div>
    <div class="register-info">
      <p>New to Draword? <a class="primary font-weight-bold">Sign up</a></p>
    </div>
  </div>
</div>